@charset "UTF-8";
* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--main_80);
  color: var(--main_20);
}

h1, h2, h3 {
  line-height: 1.1;
}

a, a:active, a:visited {
  text-decoration: none;
  font-family: var(--font-roboto);
  font-size: 1rem;
  color: var(--main_20);
}

h1 {
  font-family: var(--font-special);
  font-size: 4rem;
}

h2 {
  font-family: var(--font-special);
  font-size: 3rem;
}

h3 {
  font-family: var(--font-special);
  font-size: 2.25rem;
}

h4 {
  font-family: var(--font-special);
  font-size: 1.125rem;
}

p {
  font-family: var(--font-roboto);
  font-size: 1rem;
}

:root {
  --main_100: #fff;
  --main_90: #E7E9E2;
  --main_80: #CFD2C6;
  --main_70: #B7BCA9;
  --main_60: #9FA68C;
  --main_50: #878F70;
  --main_40: #6C7359;
  --main_30: #515643;
  --main_20: #36392D;
  --main_10: #1B1D16;
  --main_0: #000;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --font-special: "ClashDisplay-Bold";
  --font-roboto: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 5rem;
}
@media (min-width: 71.875em) {
  .container {
    padding: 0;
  }
}

/**
 * @license
 *
 * Font Family: Clash Display
 * Designed by: Indian Type Foundry
 * URL: https://www.fontshare.com/fonts/clash-display
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Clash Display Variable(Variable font)
 * Clash Display Extralight
 * Clash Display Light
 * Clash Display Regular
 * Clash Display Medium
 * Clash Display Semibold
 * Clash Display Bold
 *
*/
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.menu__cards {
  margin-top: rem(40);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu__cards .card {
  border-radius: 10px 10px 0 0;
  border-bottom-color: var(--main_50);
  border-bottom-style: solid;
  border-width: thin;
  margin: 0 rem(20);
}
.menu__cards .card__header img {
  border-radius: 10px 10px 0 0;
  height: 450px;
  width: 280px;
  cursor: pointer;
}
.menu__cards .card__body {
  text-align: center;
}
.menu__cards .card__body h4 {
  cursor: pointer;
}
.menu__cards .rightArrow {
  align-self: center;
}
.menu__cards .rightArrow button {
  border-radius: 50px;
  background-color: var(--main_80);
  border-style: solid;
  border-color: var(--main_20);
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.menu__cards .leftArrow {
  align-self: center;
}
.menu__cards .leftArrow button {
  border-radius: 50px;
  background-color: var(--main_80);
  border-style: solid;
  border-color: var(--main_20);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.navBar {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 39.9375em) {
  .navBar__menu li {
    display: none;
  }
}
.navBar__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: normal;
}
.navBar__menu li {
  margin: 0 0 0 2.5rem;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.2s;
}
.navBar__menu li:hover {
  transform: scale(1.1);
}
.navBar__logo {
  font-family: Gabriola, serif;
  font-size: 48px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 88%;
  background-color: var(--main_80);
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
@media (max-width: 71.8125em) {
  .contact {
    flex-direction: column;
  }
  .contact__detail {
    margin-left: 9.3125rem;
  }
}
@media (min-width: 71.875em) {
  .contact__detail {
    width: 25rem;
    height: 12.5rem;
  }
}
.contact__title {
  margin-left: 9.3125rem;
  margin-top: 11.25rem;
}
.contact__detail {
  max-width: 100%;
  margin-top: 11.25rem;
}

.image-carousel div {
  display: inline-block;
}

.cooking-flex .cookingRight .card, .readyFlex .readyRight .card, .menu__cards .card {
  border-radius: 10px 10px 0 0;
  border-bottom-color: var(--main_50);
  border-bottom-style: solid;
  border-width: thin;
  margin: 0 1.25rem;
  transition: all 0.2s;
}
.cooking-flex .cookingRight .card:hover, .readyFlex .readyRight .card:hover, .menu__cards .card:hover {
  transform: scale(1.005);
}
.cooking-flex .cookingRight .card__header, .readyFlex .readyRight .card__header, .menu__cards .card__header {
  position: relative;
}
.cooking-flex .cookingRight .card__header::after, .readyFlex .readyRight .card__header::after, .menu__cards .card__header::after {
  content: url("/Restaurant-webSite-/images/checkout (3).png");
  width: 10px;
  height: 10px;
  position: absolute;
  left: 43%;
  bottom: 50px;
  z-index: 1000;
}
.cooking-flex .cookingRight .card__header::after:hover, .readyFlex .readyRight .card__header::after:hover, .menu__cards .card__header::after:hover {
  visibility: visible;
}
.cooking-flex .cookingRight .card__header:hover, .readyFlex .readyRight .card__header:hover, .menu__cards .card__header:hover {
  visibility: visible;
  z-index: 1000;
}
.cooking-flex .cookingRight .card__header img, .readyFlex .readyRight .card__header img, .menu__cards .card__header img {
  border-radius: 10px 10px 0 0;
  height: 450px;
  width: 280px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.cooking-flex .cookingRight .card__header img:hover, .readyFlex .readyRight .card__header img:hover, .menu__cards .card__header img:hover {
  transition-property: opacity;
  transition-duration: 0.3s;
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
}
.cooking-flex .cookingRight .card__body, .readyFlex .readyRight .card__body, .menu__cards .card__body {
  text-align: center;
}
.cooking-flex .cookingRight .card__body h4, .readyFlex .readyRight .card__body h4, .menu__cards .card__body h4 {
  cursor: pointer;
}
.cooking-flex .cookingRight .card:hover, .readyFlex .readyRight .card:hover, .menu__cards .card:hover {
  border-bottom-color: var(--main_50);
  border-bottom-style: solid;
  border-width: medium;
}
@media (min-width: 40em) {
  .cooking-flex .cookingRight .card, .readyFlex .readyRight .card, .menu__cards .card {
    margin-bottom: 1.25rem;
  }
}

.cooking-flex .cookingRight .rightArrow, .cookingControl .rightArrow, .readyFlex .readyRight .rightArrow, .readyControl .rightArrow, .menu__cards .rightArrow, .cooking-flex .cookingRight .leftArrow, .cookingControl .leftArrow, .readyFlex .readyRight .leftArrow, .readyControl .leftArrow, .menu__cards .leftArrow {
  align-self: center;
}
.cooking-flex .cookingRight .rightArrow button, .cookingControl .rightArrow button, .readyFlex .readyRight .rightArrow button, .readyControl .rightArrow button, .menu__cards .rightArrow button, .cooking-flex .cookingRight .leftArrow button, .cookingControl .leftArrow button, .readyFlex .readyRight .leftArrow button, .readyControl .leftArrow button, .menu__cards .leftArrow button {
  border-radius: 50px;
  background-color: var(--main_80);
  border-style: solid;
  border-color: var(--main_20);
  width: 55px;
  height: 55px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.2s;
}
.cooking-flex .cookingRight .rightArrow button:hover, .cookingControl .rightArrow button:hover, .readyFlex .readyRight .rightArrow button:hover, .readyControl .rightArrow button:hover, .menu__cards .rightArrow button:hover, .cooking-flex .cookingRight .leftArrow button:hover, .cookingControl .leftArrow button:hover, .readyFlex .readyRight .leftArrow button:hover, .readyControl .leftArrow button:hover, .menu__cards .leftArrow button:hover {
  transform: scale(1.1);
}

.menu {
  margin-top: 5rem;
}
.menu__title {
  text-align: center;
}
.menu__subtitle {
  text-align: center;
  width: 35.625rem;
  margin: 0 auto;
  max-width: 100%;
}
.menu__category ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__category ul li {
  margin: 10px 20px;
  border-style: solid;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border-width: thin;
  cursor: pointer;
}
.menu__category ul li:hover {
  background-color: var(--main_70);
  border-color: var(--main_70);
  transition: background-color 0.3s, border-color 0.3s;
}
.menu__cards {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  transition-property: border-width;
  transition-duration: 0.2s;
}
@media (min-width: 40em) {
  .menu__cards .leftArrow {
    display: none;
  }
  .menu__cards .rightArrow {
    display: none;
  }
}

.info {
  padding: 1.25rem 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 71.875em) {
  .info {
    background-color: var(--main_50);
    border-radius: 20px;
  }
}
@media (max-width: 71.8125em) {
  .info {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.info__links {
  flex-grow: 1;
}
.info__links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.info__links ul li {
  margin: 0 2.5rem 0 0;
  font-size: 16px;
  font-weight: lighter;
  transition: all 0.2s;
}
.info__links ul li:hover {
  transform: scale(1.1);
}
.info__logo {
  flex-grow: 1;
  font-family: Gabriola, serif;
  font-size: 48px;
  font-weight: bold;
}
.info__email {
  flex-grow: 1;
}
.info__email span {
  display: block;
  margin-bottom: 1.25rem;
}
.info__email .wave-group {
  position: relative;
}
.info__email .wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}
.info__email .wave-group .input:focus {
  outline: none;
}
.info__email .wave-group .input:focus ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--main_20);
}
.info__email .wave-group .input:focus ~ .bar:before {
  width: 50%;
}
.info__email .wave-group .input:focus ~ .bar:after {
  width: 50%;
}
.info__email .wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--main_20);
}
.info__email .wave-group .label {
  color: var(--main_20);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}
.info__email .wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}
.info__email .wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}
.info__email .wave-group .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--main_20);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  left: 50%;
}
.info__email .wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--main_20);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  right: 50%;
}
.info__socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.info__socialMedia div {
  margin: 0 7px 0 7px;
  transition: all 0.2s;
}
.info__socialMedia div:hover {
  transform: scale(1.1);
}

.readyFlex {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: wrap;
}
@media (max-width: 39.9375em) {
  .readyFlex {
    justify-content: center;
  }
}
.readyFlex .readyRight {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: 1s slide-top;
}
@keyframes slide-top {
  from {
    margin-top: 50%;
  }
  to {
    margin-top: 0%;
  }
}
.readyFlex .readyLeft h2 {
  animation: 1s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}

.readyControl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}

.ready {
  margin-top: 1.25rem;
}

.cooking-flex {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: wrap;
}
@media (max-width: 39.9375em) {
  .cooking-flex {
    justify-content: center;
  }
}
.cooking-flex .cookingRight {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cookingControl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}

.cooking {
  margin-top: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
