@charset "UTF-8";
* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--main_80);
  color: var(--main_20);
}

h1, h2, h3 {
  line-height: 1.1;
}

a, a:active, a:visited {
  text-decoration: underline;
}

h1 {
  font-family: var(--font-special);
  font-size: 4rem;
}

h2 {
  font-family: var(--font-special);
  font-size: 3rem;
}

h3 {
  font-family: var(--font-special);
  font-size: 2.25rem;
}

p {
  font-family: var(--font-roboto);
  font-size: 1.125rem;
}

:root {
  --main_100: #fff;
  --main_90: #E7E9E2;
  --main_80: #CFD2C6;
  --main_70: #B7BCA9;
  --main_60: #9FA68C;
  --main_50: #878F70;
  --main_40: #6C7359;
  --main_30: #515643;
  --main_20: #36392D;
  --main_10: #1B1D16;
  --main_0: #000;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("/Restaurant-webSite-/scss/global/fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
:root {
  --font-special: "ClashDisplay-Bold";
  --font-roboto: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  margin: 2.5rem 5rem;
}

/**
 * @license
 *
 * Font Family: Clash Display
 * Designed by: Indian Type Foundry
 * URL: https://www.fontshare.com/fonts/clash-display
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Clash Display Variable(Variable font)
 * Clash Display Extralight
 * Clash Display Light
 * Clash Display Regular
 * Clash Display Medium
 * Clash Display Semibold
 * Clash Display Bold
 *
*/
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: normal;
}
.navBar ul li {
  margin: 0 0 0 2.5rem;
  font-size: 16px;
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
