
:root{
  --main_100 : #fff;
  --main_90 : #E7E9E2;
  --main_80 : #CFD2C6;
  --main_70 : #B7BCA9;
  --main_60 : #9FA68C;
  --main_50 : #878F70;
  --main_40 : #6C7359;
  --main_30 : #515643;
  --main_20 : #36392D;
  --main_10 : #1B1D16;
  --main_0 : #000;

}