@use '../util/px_to_rem' as *;
%create_card {

  .card {
    border-radius: 10px 10px 0 0;
    border-bottom-color: var(--main_50);
    border-bottom-style: solid;
    border-width: thin;
    margin: 0 rem(20);

    &__header {
      position: relative;

      &::after {
        content: url("/Restaurant-webSite-/images/checkout (3).png");
        width: 10px;
        height: 10px;
        position: absolute;
        left: 43%;
        bottom: 50px;
        z-index: 1000;

        &:hover {
          visibility: visible;
        }
      }

      &:hover {
        visibility: visible;
        z-index: 1000;

      }

      img {
        border-radius: 10px 10px 0 0;
        height: 450px;
        width: 280px;
        cursor: pointer;

        transition: {
          property: opacity;
          duration: 0.3s;
        }

        &:hover {
          transition: {
            property: opacity;
            duration: 0.3s;
          }
          background-color: #000;
          opacity: 0.8;
          z-index: 100;
        }
      }
    }

    &__body {
      text-align: center;

      h4 {
        cursor: pointer;
      }

    }

    &:hover {
      border-bottom-color: var(--main_50);
      border-bottom-style: solid;
      border-width: medium;
    }


  }

}

