@use '../util/px_to_rem' as *;
@use 'card_style'as *;
@use 'Buttons' as *;
@use '../util/breakpoints' as *;
.cooking-flex{
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: wrap;

  @include breakpoint_down(small){
    justify-content: center;
  }

  .cookingRight{
    @extend %create_card;
    margin-top: rem(40);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    @extend %creat_button;

  }
}
.cookingControl{
  @extend %creat_button;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}
.cooking{
  margin-top:rem(20);
}
