@use '../util/px_to_rem'as *;
@use '../util/breakpoints'as *;

.info{
  padding: rem(20) rem(10) ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 @include breakpoint(large){
   background-color: var(--main_50);
   border-radius: 20px;
 }
  @include breakpoint_down(medium){
      flex-direction: column;
    justify-content: space-evenly;
      align-items: center;
  }

  &__links{
    flex-grow: 1;
    ul{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      li{
        margin:0 rem(40) 0 0;
        font-size: 16px;
        font-weight: lighter;
        transition: all 0.2s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  &__logo{
    flex-grow: 1;
    font-family: Gabriola,serif;
    font-size:48px;
    font-weight: bold;
  }
  &__email{
    flex-grow: 1;

    span{
      display: block;
      margin-bottom: rem(20);

    }
    .wave-group {
      position: relative;
      .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 200px;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
        &:focus {
          outline: none;
          ~ {
            label {
              .label-char {
                transform: translateY(-20px);
                font-size: 14px;
                color: var(--main_20);
              }
            }
            .bar {
              &:before {
                width: 50%;
              }
              &:after {
                width: 50%;
              }
            }
          }
        }
        &:valid {
          ~ {
            label {
              .label-char {
                transform: translateY(-20px);
                font-size: 14px;
                color: var(--main_20);
              }
            }
          }
        }
      }
      .label {
        color: var(--main_20);
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        display: flex;
      }
      .label-char {
        transition: 0.2s ease all;
        transition-delay: calc(var(--index) * .05s);
      }
      .bar {
        position: relative;
        display: block;
        width: 200px;
        &:before {
          content: '';
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: var(--main_20);
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          left: 50%;
        }
        &:after {
          content: '';
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: var(--main_20);
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          right: 50%;
        }
      }
    }

  }
  &__socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    div{
      margin: 0 7px 0 7px;
      transition: all 0.2s;
      &:hover{
        transform: scale(1.1);
      }
    }

  }
}
