@use '../util/px_to_rem' as *;
@use 'card_style' as *;
@use 'Buttons' as *;
@use '../util/breakpoints'as *;
.menu {
  margin-top: rem(80);

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    width: rem(570);
    margin: 0 auto;
    max-width: 100%;
  }

  &__category {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;


      li {
        margin: 10px 20px;
        border-style: solid;
        padding: rem(16) rem(40);
        border-radius: rem(16);
        border-width: thin;
        cursor: pointer;

      }

      li:hover {
        background-color: var(--main_70);
        border-color: var(--main_70);
        transition: background-color 0.3s, border-color 0.3s;
      }
    }
  }

  &__cards {

    margin-top: rem(40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    @extend %create_card;
    @extend %creat_button;

    @include breakpoint(medium) {
      .leftArrow{
        display: none;
      }
      .rightArrow{
        display: none;
      }
    }

    transition: {
      property: border-width;
      duration: 0.2s;
    }


  }
}
//.rightArrow, .leftArrow {
//  align-self: center;
//
//  button {
//    border-radius: 50px;
//    background-color: var(--main_80);
//    border-style: solid;
//    border-color: var(--main_20);
//    width: 60px;
//    height: 60px;
//    cursor: pointer;
//  }
//}